<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-3 ">

			<%= form_tag feed_comments_path(feed), method: :post do %>
			
			<div class="form-group">
				<div class="field">
					<%= label_tag 'Nombre' %>
					<%= text_field_tag 'name', nil, class:"form-control"  %>
				</div>
			</div>
			<div class="form-group">
				<div class="field">
					<%= label_tag 'Correo' %>
					<%= email_field_tag 'email', nil, class:"form-control" %>
				</div>
			</div>
			<div class="form-group">
				<div class="field">
					<%= label_tag "Comentario" %>
					<%= text_area_tag 'comment', nil,  class:"form-control", :placeholder => "comenta"  %>
					<br>
					<%= submit_tag 'Enviar', class:"btn btn-success" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>